@font-face {
  font-family: Vazir;
  src: url('../fonts/PeydaWeb-Bold.eot');
  src: url('../fonts/PeydaWeb-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PeydaWeb-Bold.woff2') format('woff2'),
       url('../fonts/PeydaWeb-Bold.woff') format('woff'),
       url('../fonts/Peyda-Bold.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Vazir;
  src: url('../fonts/PeydaWeb-Bold.eot');
  src: url('../fonts/PeydaWeb-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/PeydaWeb-Bold.woff2') format('woff2'),
       url('../fonts/PeydaWeb-Bold.woff') format('woff'),
       url('../fonts/Peyda-Bold.ttf') format('truetype');
  font-weight: bold;
}

.bazara-button-spinner.loading:before {
    -webkit-animation: rotation 1s linear infinite;
    animation: rotation 1s linear infinite;
    display: inline-block;
    width: 5px;
    height: 5px;
    vertical-align: text-bottom;
    border: 5px solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
    content:'';
    position: relative;
    left: 8px;
    bottom: 5px;
}

.bazara-navbar li{
    display: inline;
    padding: 0;
}
.bazara-caption{
    font-size: 12px;
    color: #7e7676;
}
.table td{
    text-align: center;
}
.bazara-div_for_caption{
    display:inline-grid;
    line-height: 1.5;
}
.bazara_admim_conf .input-switch input:disabled+label,.bazara_admim_conf .btn-check:disabled+label{
    opacity: .5;
}

.bazara-sub-div{
    padding-right: 7em;
}
.bazara-sub-div-grp{
    display: inline-grid;
    line-height: 2.5;
    width: 100%;
}
.bazara-navbar li a{
    color : #fff;
    display: inline-block;
    padding: 0 28px;
    line-height: 55px;
    height: 100%;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.bazara-navbar li a:hover,.tab-active{
    background-color: #0094c4;
}
.bazara-navbar{
    margin: 0;
    height:10%;
}
.bazara_admim_conf * {
    font-family: Vazir !important;
}
.rtl .bazara_side_bar {
	left: -516px;
	right: auto;
	box-shadow: 2px 0px 8px 0 rgba(126,57,255,.08);
}
#bazara_cus_field_footer {
    padding-right: 0!important;
    padding-left: 18px;
    right: auto!important;
    left: 20px;
    z-index: 100!important;
}
#bazara_cus_field_footer div {
    float: left!important;
}
.bazara_sb_field_list::after {
    right: auto!important;
    left: 24px!important;
}
.bazara_admim_conf #bazara_field_val_list li, .bazara_admim_conf .bazara_sb_field_list, .bazara_admim_conf .bazara_side_bar .bazara_fields_options input {
    padding: 0 24px 0 0!important;
}
.bazara_log_setge {
    display: block!important;
    margin-left: 25px;
}
.bazara_admim_conf .form-table .button.ippanel-pattern-check{
    float: left;
    display: block;
    background: #92f3cb;
    border: 1px solid #35584a;
    margin-top: -42px;
    width: 150px!important;
    font-weight: bold;
}
.bazara_admim_conf .form-table .button.ippanel-pattern-check.proccessing{
    background: #61c79d;
	color: gray;
}
#ippanel_patternvars{
	direction: ltr;
	text-align: left;
}
#bazara_presets_modal_box #bazara_presets_modal_head #bazara_presets_modal_head_close {
    float: left!important;
}
.bazara_presets_list {
	direction: ltr;
}

element.style {
    display: block;
}
 .bazara_popmessage {
    left: 24px;
    right: unset;
}
.bazara_popmessage {
    direction: rtl;
    cursor: default;
    line-height: 18px;
}
@-webkit-keyframes bazara_popBounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bazara_popBounceInRight {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.bazara_popBounceInRight {
    -webkit-animation-name: bazara_popBounceInRight;
    animation-name: bazara_popBounceInRight;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.bazara_critical_msg {
    background-color: #FEFAFA;
    box-shadow: 0 3px 10px rgb(238 44 83 / 8%);
}
.bazara_popmessage {
    z-index: 9999999;
    cursor: default;
    min-height: 80px;
    width: 320px;
    border-radius: 2px;
    position: fixed;
    display: none;
    top: 24px;
    line-height: 18px;
    right: 24px;
}

.bazara_lasele {
    padding-top: 22px;
    padding-bottom: 22px;
    padding-right: 17px;
    width: calc(100% - 107px);
    position: relative;
}
.bazara_popmessage_contents .bazara_lasele div {
    display: block;
}
.bazara_popmessage .bazara_popmessage_contents div {
    display: inline-block;
}
.bazara_critical_msg .bazara_lase_snap, .bazara_critical_msg .bazara_lase_message {
    color: #EE2C53;
}
.bazara_lase_message {
    opacity: 0.60;
    font-size: 13px;
}

@media all and (max-width: 390px) {
    .bazara-content {
        width: 98%;
    }
}

.bazaramsg-pow span {
    font-weight: bold;
}

.bazaramsg-pow, .bazaramsg-pow:hover {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.bazara_powrd {
    text-align: center;
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}

.bazara-modal-con {
    -webkit-transition: height 0.25s;
    -moz-transition: height 0.25s;
    transition: height 0.25s;
    line-height: 28px !important;
}

.bazara_popmessage {
    z-index: 9999999;
    cursor: default;
    min-height: 80px;
    width: 320px;
    border-radius: 2px;
    position: fixed;
    display: none;
    top: 24px;
    line-height: 18px;
    right: 24px;
}

html[dir="rtl"] .bazara_popmessage {
    left: 24px;
    right: unset;
}

.bazara_critical_msg {
    background-color: #FEFAFA;
    box-shadow: 0 3px 10px rgba(238, 44, 83, 0.08);
}

.bazara_success_msg {
    background-color: #FAFDFB;
    box-shadow: 0 3px 10px rgba(43, 203, 97, 0.08);
}

.bazara_notice_msg {
    background-color: #FFFDF9;
    box-shadow: 0 3px 10px rgba(255, 195, 0, 0.08);
}

.bazara_critical_msg .bazara_lase_snap, .bazara_critical_msg .bazara_lase_message {
    color: #EE2C53;
}

.bazara_success_msg .bazara_lase_snap, .bazara_success_msg .bazara_lase_message {
    color: #2BCB61;
}

.bazara_notice_msg .bazara_lase_snap, .bazara_notice_msg .bazara_lase_message {
    color: #FFC300;
}

.bazara_critical_msg .bazara_popdismiss {
    background-color: #EE2C53;
}

.bazara_success_msg .bazara_popdismiss {
    background-color: #2BCB61;
}

.bazara_notice_msg .bazara_popdismiss {
    background-color: #FFC300;
}

.bazara_critical_msg .bazara_popdismiss {
    background-color: #EE2C53;
}

.bazara_popdismiss {
    left: 10px;
    height: 8px;
    width: 8px;
    position: absolute;
    top: 10px;
    cursor: pointer;
    mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.521' height='8.485' viewBox='0 0 8.521 8.485'%3E%3Cg id='Group' transform='translate(0.28 0.207)'%3E%3Cpath id='Line' d='M.5.5,7.534,7.571' fill='none' stroke='%23ee2c53' stroke-linecap='square' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Line_Copy' data-name='Line Copy' d='M7.036,0,0,7.071' transform='translate(0.427 0.5)' fill='none' stroke='%23ee2c53' stroke-linecap='square' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
    mask-repeat: no-repeat;
    mask-size: cover;
    -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8.521' height='8.485' viewBox='0 0 8.521 8.485'%3E%3Cg id='Group' transform='translate(0.28 0.207)'%3E%3Cpath id='Line' d='M.5.5,7.534,7.571' fill='none' stroke='%23ee2c53' stroke-linecap='square' stroke-miterlimit='10' stroke-width='1'/%3E%3Cpath id='Line_Copy' data-name='Line Copy' d='M7.036,0,0,7.071' transform='translate(0.427 0.5)' fill='none' stroke='%23ee2c53' stroke-linecap='square' stroke-miterlimit='10' stroke-width='1'/%3E%3C/g%3E%3C/svg%3E%0A");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
}
.btn {
    border-bottom-right-radius: 20px!important;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border-top-right-radius: 20px!important;
    border-top-left-radius: 20px!important;
    border-bottom-left-radius: 20px!important;
}
.btn .marked{
    color:#000;
    background-color: transparent;

}

.btn-primary {
    color: #5f5f5f;
    background-color: #fff;
    border-color: #5f5f5f;
}
.btn:hover {
    color: #212529;
}
.btn-check {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}
.btnchecked {
    color: #fff!important;
    background-color: #006799;
    border-color: #006799;
}
.bd-example>:last-child {
    margin-bottom: 0;
}
.bd-example>.btn, .bd-example>.btn-group {
    margin: 0.25rem 0.125rem;
}
.btn-check:checked{
    color: #fff;
    background-color: #006799;
    border-color: #006799;
}
label:hover{
    cursor: pointer;
}
.sub{
    font-size:16px
}
.subform{
    background-color: #fff;
    padding: 20px;
    margin-top:10px
}
.bazara_admim_conf .input-switch label.small{
    width: 36px;
    height: 14px;
}
.bazara_admim_conf .input-switch label.small:after{
    top: 1px;
    width: 12px;
    height: 12px;
}
.bazara_admim_conf label.alphabet{
    font-size: 11px!important;
    width: 27px!important;
    height: 15px!important;
}
.bazara_admim_conf label.currency{
    width: 60px!important;
}
.form-table td{
    padding: 15px 2px!important;
}

.bazara_call_test_api_btn label {
    color: #26263a;
    font-size: 16px;
    font-weight: 400;
    overflow-wrap: anywhere;
    margin-right: 10px;
}
 .bazara_save_button label {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    overflow-wrap: anywhere;
}
.bazara_admim_conf .bazara_save_button {
    top: 45px;
    left: 30px;
    position: absolute;
    background: #26263a;
    border-radius: 4px;
    color: #fff;
    z-index: 50;
    height: 36px;
    line-height: 36px;
    padding: 0;
    cursor: pointer;
    transition: all .3s;
    transition-timing-function: ease-in-out;
}
.bazara_admim_conf .bazara_save_button {
    width: 140px;
    bottom: 24px;
    font-size: 16px;
    text-align: center;
}
.setting{
    padding-right: 10px;
    text-decoration: underline;
    
    font-size: 13px;
    color: #2c3490;
}

.setting:before {
    font-family: dashicons;
    content: "\f111";
    right: -1px;
    position: relative;
}

@keyframes spinner-border {
  to { transform: rotate(360deg); }
}

.spinner-border {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
  border: 1rem solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border .75s linear infinite;
}

.spinner-border-sm {
  width: 1rem;
  height: 1rem;
  border-width: 1rem;
}


@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
  }
}

.spinner-grow {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  animation: spinner-grow .75s linear infinite;
}

.spinner-grow-sm {
  width: 1rem;
  height: 1rem;
}

.progress-bar {
    background-color: #1a1a1a;
    height: 30px;
    padding: 5px;
    width: 500px;
    margin: 5px 0;
    border-radius: 5px;
    box-shadow: 0 1px 5px #000 inset, 0 1px 0 #444;
    }
    .progress-bar span {
    display: inline-block;
    float: left;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
    transition: width .4s ease-in-out;
    }
    .blue span {
    background-color: #34c2e3;
    }
    .orange span {
    background-color: #fecf23;
    }
    .progress-text {
    text-align: right;
    color: white;
    margin: -25px 0px; 
    }
    /* Tooltip container */
    .tooltip {
      position: relative;
      display: inline-block;
      border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
    }
    
    /* Tooltip text */
    .tooltip .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
     
      /* Position the tooltip text - see examples below! */
      position: absolute;
      z-index: 1;
    }
    
    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
      visibility: visible;
    }
    .tooltip .tooltiptext {
        width: 120px;
        top: 100%;
        left: 50%;
        margin-left: -77px;
        margin-top: 10px;
        font-size: 10px;
    }
    .tooltip .tooltiptext::after {
      content: " ";
      position: absolute;
      bottom: 100%;  /* At the top of the tooltip */
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent black transparent;
    }
    .bazara-help-tip {
        color: #666;
        
    }
    .bazara-help-tip::after {
        font-family: Dashicons;
        speak: none;
        font-weight: 400;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        text-indent: 0px;
        position: absolute;
        top: -15px;
        right: 10px;
        width: 100%;
        height: 100%;
        text-align: center;
        content: "ïˆ£";
        cursor: help;
        font-variant: normal;
        margin: 0px;
    }
    .dig_cust_default_fields_drag {
        left: 42px;
        right: unset;
    }
    .dig_cust_default_fields_drag {
        position: absolute;
        right: 145px;
        /* top: 20px; */
        cursor: grab;
        z-index: 1;
        margin-top: 15px;
    }